/* Général */

body {
  color: #222f3e;
  margin: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h4, h3 {
    margin-top: 0;
}

.fas {
    color: #54a0ff;
    margin-right: 10px;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: 300px;
}

#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 30%;
    background-color: #54a0ff;
}

#photo img {
    border-radius: 50%;
    border: 2px solid #2e86de;
    width: 200px;
    height: 200px;
}

#titre {
    font-size: 1.3em;
    margin-left: 60px;
}

#titre h1 {
    margin-bottom: 0;
}

#titre h2 {
    margin-top: 0;
    text-transform: none;
}

.color-text {
    color: #54a0ff;
}

.underline {
    text-decoration: 2px underline #54a0ff;
}

/* Bloc */

main {
    display: flex;
}

/* Bloc-gauche */

#bloc-gauche {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: #54a0ff;
}

.titre-gauche {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #222f3e;
    color: #54a0ff;
    margin: 0;
}

.contact p {
    padding-left: 45px;
}

.contact a {
    color: #222f3e;
   text-decoration: none;
}

.contact a:hover {
    color: #fff;
    transition: color .3s;
}

/* Bloc-droite */

.bloc-droite {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

/* bloc-formation - Experience */

article {
    margin-left: 60px;
    margin-right: 45px;
}

.titre-droite {
    border-bottom: 3px solid #54a0ff;
}

.titre-droite i {
    margin-right: 34px;
    padding-bottom: 16px;
}

.bloc-formations, .bloc-experiences {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.bloc-dates {
    display: flex;
    align-items: flex-start;
    width: 30%;
}

.bloc-details {
    flex-grow: 1;
}

/* Footer */

footer {
    display: flex;
    
}

.loisirs {
    background-color: #54a0ff;
    width: 30%;
}

.icone-loisirs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.icone-loisirs .fas {
    color: #222f3e;
}

.cercle {
    font-size: 60px;
    border: 5px double #222f3e;
    border-radius: 50%;
    padding: 15px;
    width: 70px;
    height: 70px;
    text-align: center;
}

.cercle .fas {
    margin: 0;
}

.recommandations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.bloc-recommandations {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.bloc-recommandations h4 {
    text-transform: uppercase;
    margin: 6px 0;
}

.bloc-recommandations p {
    margin: 5px 0;
}

.bloc-recommandations a {
   text-decoration: none;
   color: #222f3e;
}

.bloc-recommandations a:hover {
    color: #54a0ff;
    transition: color .3s;
}

.recommandation-g {
    width: 50%;
}









