/* Général */
@font-face {
    font-family: 'Libre_Baskerville';
    src: url(fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf);
}

:root {
    --liseret-icone-color: #54a0ff;
    --bandeau-color: #222f3e;
}

body {
  color: var(--bandeau-color);
  margin: 0;
}

h1, h2, h3 {
    font-family: 'Libre_Baskerville', sans-serif, Helvetica;
    text-transform: uppercase;
}

h4, h3 {
    margin-top: 0;
}

h3 {
    margin-bottom: 5px;
}

.fas {
    color: var(--liseret-icone-color);
    margin-right: 10px;
}

h2 .fas {
    margin-right: 34px;
    padding-bottom: 16px;
}

ol {
    padding: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--bandeau-color);
    border-bottom: 1px solid transparent;
 }

 a:hover {
    border-bottom: 1px solid var(--bandeau-color);
    transition:border-bottom .6s;
}

/* Header */

header {
    display: flex;
    align-items: center;
    height: 300px;
}

#photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 30%;
    background-color: var(--liseret-icone-color);
}

#photo img {
    border-radius: 50%;
    border: 2px solid #2e86de;
    width: 200px;
    height: 200px;
}

#titre {
    font-size: 1.3em;
    margin-left: 60px;
}

#titre h1 {
    margin-bottom: 0;
}

#titre h2 {
    margin-top: 0;
    text-transform: none;
}

.color-text {
    color: var(--liseret-icone-color);
}

.underline {
    border-bottom: 2px solid var(--liseret-icone-color);
}

/* Bloc */

main {
    display: flex;
}

/* Bloc-gauche */

#bloc-gauche {
    display: flex;
    flex-direction: column;
    width: 30%;
    background-color: var(--liseret-icone-color);
}

#bloc-gauche h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--bandeau-color);
    color: var(--liseret-icone-color);
    margin: 0;
}

.contact p {
    padding-left: 45px;
}

.a-propos p {
    text-align: justify;
    padding: 0 45px;
}

/* Bloc-droite */

#bloc-droite, #recommandations {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 60px;
}

#bloc-droite h2 {
    border-bottom: 3px solid var(--liseret-icone-color);
}

/* bloc-formation - Experience */

.bloc-formations, .bloc-experiences {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
}

.bloc-dates {
    display: flex;
    align-items: flex-start;
    width: 30%;
}

.bloc-details {
    flex-grow: 1;
}

/* Footer */

footer {
    display: flex;  
}

#loisirs {
    background-color: var(--liseret-icone-color);
    width: 30%;
}

#loisirs h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: var(--bandeau-color);
    color: var(--liseret-icone-color);
    margin: 0;
}

.icone-loisirs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.icone-loisirs .fas {
    color: var(--bandeau-color);
}

.cercle {
    font-size: 55px;
    border: 5px double var(--bandeau-color);
    border-radius: 50%;
    padding: 15px;
    width: 60px;
    height: 60px;
    text-align: center;
}

.cercle .fas {
    margin: 0;
}

#recommandations h2 {
    border-bottom: 3px solid var(--liseret-icone-color);
}

.bloc-recommandations {
    display: flex;
    justify-content: flex-start;
    margin-top: 10px;
}

.bloc-recommandations h4 {
    text-transform: uppercase;
    margin: 6px 0;
}

.bloc-recommandations p {
    margin: 5px 0;
}

.recommandation-g {
    width: 50%;
}

/* Responsive design*/

@media all and (max-width:1024px) {
    header {
        flex-direction: column;
        height: auto;
    }

    #photo {
        width: 100%;
    }

    #titre {
        margin: 0;
        text-align: center;
    }

    main {
        flex-direction: column;
    }

    #bloc-gauche {
        width: 100%;
        text-align: center;
    }

    .contact p {
        padding: 0;
    }

    #bloc-droite, #recommandations {
        margin: 0;
    }

    section h2, article h2 {
        background-color: var(--bandeau-color);
        color: var(--liseret-icone-color);
        text-align: center;
        padding: 10px 0;
        margin: 0;
    }
    h2 .fas {
        padding-bottom: 0;
        color: var(--liseret-icone-color);
    }

    ol {
        margin: 0 10px;
    }
    
    footer {
        flex-direction: column-reverse;
    
    }

    #loisirs {
        width: 100%;
        margin-top: 20px;
    }

    .bloc-recommandations {
        justify-content: space-around;  
    }

    .recommandation-g {
        width: auto;
    }
}

@media all and (max-width:540px) {
    
    .bloc-formations, .bloc-experiences {
        flex-direction: column;
        border-bottom: 1px solid var(--liseret-icone-color);
    }

    ol li:last-child {
        border-bottom: none;
    }

    .bloc-dates {
        flex-direction: row;
        width: 100%;
    }

    .bloc-details {
        width: 100%;
    }
}

@media all and (max-width:400px) {
    .bloc-recommandations {
        justify-content: flex-start;
        margin-left: 10px;
    }

    .recommandation-g {
        border-right: 1px solid var(--liseret-icone-color);
    }
    .recommandation-d {
        margin-left: 5px;
    }

    .recommandation-g, .recommandation-d {
        padding: 0 5px;
    }
}









